.section-4{
    margin-left: 0.7vw;
}
.section-4-all{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


#products-name-and-price > h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

#products-name-and-price > span {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 30px;
}


#products-name-and-price-small > h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
}

#products-name-and-price-small > span {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 30px;
}

#loadMore-section{
    display: none;
}

/*모바일*/
@media screen and (max-width: 767px){
    body{
        overflow-x: hidden;
    }
    .section-4{
        padding-left: 0.7rem;
    }

    #section4-category-name-and-number-of-products{

        width: 96vw;
        margin-top: 1rem;
        display: flex;
        font-family: 'Source Code Pro', monospace;
        font-size: 15px;
        font-weight: 400;
        /*margin-left: 25px;*/
        /*padding-right: 50px;*/
        justify-content: space-between;
    }

    #section4-category-name-and-number-of-products-h1 > h1{
        /*text-align: left;*/
        /*width: 58%;*/
        /*max-width: 100%;*/
        font-size: 13px;
        margin: 0;
        margin-top: 15px;
    }

    #section4-category-name-and-number-of-products-p{
        width: 50px;
        /*max-width: 100%;*/
    }

    #section4-category-name-and-number-of-products-p > p{
        text-align: left;
        padding-top: 0px;
        font-size: 13px;
        padding-right: 80px;
    }

    #products-big-photo > picture > img{
        /*max-width: 100%;*/
        width: 95vw;
        height: auto;
    }

    #products-big-photo{
        margin-bottom: 4rem;
    }

    #products-small-photo{
        margin-right: 1.2rem;
    }

    #products-small-photo > picture > img{
        width: 46vw;
        height: auto;
    }

    #products-div-2-mobile{
        display: flex;
        margin-top: 4rem;
    }

    #section2{
        margin-bottom: 4rem;
    }
    .products-big-photo-category{
        display: none;
    }
    .products-big-photo-number{
        display: none;
    }


}

/*=======================================================================================*/

/*태블릿*/
@media screen and (min-width: 768px) and (max-width: 1024px){
    body{
        overflow-x: hidden;
    }

    #section4-category-name-and-number-of-products{
        width: 96vw;
        margin-top: 20px;
        display: flex;
        font-family: 'Source Code Pro', monospace;
        /*font-size: 15px;*/
        /*font-weight: 400;*/
        /*margin-left: 25px;*/
        /*padding-right: 50px;*/
        justify-content: space-between;
    }


    #section4-category-name-and-number-of-products-h1 > h1{
        /*text-align: left;*/
        /*width: 58%;*/
        /*max-width: 100%;*/
        font-size: 13px;
        font-weight: 400;
        margin: 0;
        margin-top: 15px;
    }

    #section4-category-name-and-number-of-products-p{
        width: 50px;
        /*max-width: 100%;*/
    }

    #section4-category-name-and-number-of-products-p > p{
        text-align: right;
        padding-top: 0px;
        font-size: 12px;
        /*padding-right: 80px;*/
    }

    .products-big-photo-category{
        display: none;
    }
    .products-big-photo-number{
        display: none;
    }

    #products{
        margin-bottom: 1rem;
    }

    #products-div{
        display: flex;
        margin-top: 5rem;
    }

    #products-big-photo{
        /*width: 700px;*/
        /*margin-left: 25px;*/
        margin-right: 1.2rem;
    }

    #products-big-photo > picture > img{
        /*max-width: 100%;*/
        width: 47vw;
        height: auto;
    }

    /*----------------------------------------------------------*/

    #section2{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    #products-div-2{
        display: flex;
        margin-top: 5rem;
    }


    #products-small-photo{
        margin-right: 1.2rem;
    }

    #products-small-photo > picture > img{
        width: 22.6vw;
        height: auto;
    }

    #products-div-2-mobile{
        display: flex;
    }



}



/*===============================================================================*/
/*PC*/
@media screen and (min-width: 1024px) {
    .section-4{
        margin-top: 11rem;
    }

    #menuBar{
        display: none;
    }

    #section4-category-name-and-number-of-products{
        display: none;
    }

    /*#section4-category-name-and-number-of-products {*/
    /*    !*width: 60%;*!*/
    /*    width: 61vw;*/
    /*    margin-top: 250px;*/
    /*    display: flex;*/
    /*    font-family: 'Source Code Pro', monospace;*/
    /*    font-size: 14px;*/
    /*    font-weight: 400;*/
    /*    !*margin-left: 25px;*!*/
    /*    !*padding-right: 50px;*!*/
    /*    justify-content: space-between;*/
    /*}*/

    /*#section4-category-name-and-number-of-products-h1 > h1 {*/
    /*    font-size: 12px;*/
    /*    margin: 0;*/
    /*    margin-top: 15px;*/
    /*}*/

    /*#section4-category-name-and-number-of-products-p {*/
    /*    width: 30px;*/
    /*}*/

    /*#section4-category-name-and-number-of-products-p > p {*/
    /*    text-align: left;*/
    /*    padding-top: 0px;*/
    /*    font-size: 12px;*/
    /*    !*padding-right: 80px;*!*/
    /*}*/

    .products-big-photo-category{
        font-family: 'Source Code Pro', monospace;
        font-size: 8px;
        font-weight: 400;
    }
    .products-big-photo-number{
        font-family: 'Source Code Pro', monospace;
        font-size: 12px;
        font-weight: 400;
        text-align: right;
        margin: 10px 0;
    }

    /*#products{*/
    /*    margin-right: 50px;*/
    /*}*/
    #products-div {
        display: flex;
        margin-top: 7rem;
    }

    #products-big-photo {
        /*width: 700px;*/
        /*margin-left: 25px;*/
        margin-right: 1.2rem;
    }

    #products-big-photo > picture > img {
        /*max-width: 100%;*/
        width: 30vw;
        height: auto;
    }

    /*----------------------------------------------------------*/
    #section2 {
        margin-top: 5rem;
        margin-bottom: 7rem;
    }

    #products-div-2 {
        /*width: 100%;*/
        /*width: 1600px;*/
        display: flex;
        margin-top: 7rem;
        /*margin-top: 40px;*/
        /*padding-right: 200px;*/
    }

    #products-small-photo {
        /*width: 400px;*/
        /*margin-left: 25px;*/
        margin-right: 1.2rem;
    }

    #products-small-photo > picture > img {
        /*max-width: 100%;*/
        width: 17.6vw;
        height: auto;
        /*margin-left: 20px;*/
    }

    #products-div-2-mobile{
        display: flex;
    }


}