footer {
    display: flex;
    /*position: fixed;*/
    bottom: 0;
    font-family: 'Source Code Pro', monospace;
    /*font-size: 0.6vw;*/
}
.footerbox{
    width: 98vw;
    display: flex;
    justify-content: space-between;
}
.information {
    width: 30vw;
    display: block;
    margin-left: 0.5rem;
}
.membership {
    width: 25vw;
    /*position: sticky;*/
    bottom: 0;
    right: 0;
    margin-top: 3rem;
    /*margin-bottom: 1vw;*/
}
.details {
    margin-top: 2vw;
}
.privacy {
    margin-top: 2vw;
}
/*.footerbox {*/
/*    margin-bottom: 1vw;*/
/*    margin-left: 0.5vw;*/
/*}*/
.su_button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    color: white;
    background-color: rgb(44, 44, 44);
    border: 0;
    outline: 0;
    font-family: 'Inconsolata', monospace;
    font-size: 13px;
}
.su_button:hover{
    background-color: rgb(118, 109, 104);
    cursor: pointer;
}
.membership-box{
    width: 22vw;
    margin-bottom: 5px;
}
.box {
    /*width: 15vw;*/
    width: 100%;
    height: 2.5vw;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.6vw;
    border-radius: 0.4rem;
    border: none;
    border-bottom: 0.1rem solid black;
}
.country {
    /*width: 17vw;*/
    width: 98%;
    height: 2.5vw;
    font-family: 'Source Code Pro', monospace;
    font-size: 0.6vw;
    border-radius: 0.4rem;
    border: none;
    border-bottom: 0.1rem solid black;
    margin-bottom: 20px;
}

.radio-div{
    margin-top: 10px;
    margin-bottom: 10px;
}
.terms-and-conditions-div{
    margin-top: 20px;
    margin-bottom: 30px;
}
.detail_text {
    text-decoration: none;
    color: black;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
.detail_text:hover {
    text-decoration: underline;
}
.mem {
    text-decoration: underline;
    color: black;
}
.mem:hover {
    text-decoration: none;
}
input[type='radio'] {
    -webkit-appearance:none;
    width:16px;
    height:16px;
    border:1px solid black;
    border-radius:50%;
    outline:none;
    background:white;
}
input[type='radio']:before {
    content:'';
    display:block;
    width:60%;
    height:60%;
    margin: 20% auto;
    border-radius:100%;
}
input[type='radio']:checked:before {
    background:black;
}
input:focus,select:focus {
    outline: none;
}

/*피씨버전*/
@media screen and (min-width: 1024px) {
    footer {
        display: flex;
        /*position: fixed;*/
        /*position: sticky;*/
        bottom: 0;
        font-family: 'Source Code Pro', monospace;
        font-size: 0.6vw;
    }
    .footerbox{
        margin-bottom: 0;
    }
    .information{
        font-size: 11px;
    }
    .membership{
        font-size: 11px;
        width: 22vw;
        height: auto;
        margin-top: 4rem;
    }

    .membership-p1{
        /*font-size: 11px;*/
        margin-bottom: 2rem;
    }

    .box{
        width: 98%;
        font-size: 11px;
    }

    .country{
        width: 100%;
        font-size: 11px;
    }

    .womenswear{
        padding-bottom: 5px;
    }

}
/*태블릿버전*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .membership {
        width: 45vw;
        margin-right: 0.5rem;
        font-family: 'Inconsolata', monospace;
        font-size: 14px;
        margin-top: 4rem;
        margin-right: 0.5rem;
    }
    /*.membership-p1{*/
    /*    font-size: ;*/
    /*}*/
    .information {
        width: 40vw;
        font-family: 'Inconsolata', monospace;
        font-size: 13px;
    }
    .membership-p1{
        margin-bottom: 30px;
    }
    .country {
        width: 45vw;
        font-family: 'Inconsolata', monospace;
        font-size: 14px;

    }
    .box {
        width: 44vw;
        font-family: 'Inconsolata', monospace;
        font-size: 14px;
        margin-bottom: 15px;
    }
    .details{
        margin-top: 30px;
    }
    .detail_text{
        margin-bottom: 5px;
    }
    .terms-and-conditions-div{
        margin-top: 30px;
    }
    .su_button {
        width: 60px;
        height: 30px;
        border-radius: 5px;
        color: white;
        background-color: rgb(44, 44, 44);
        border: 0;
        outline: 0;
        font-family: 'Inconsolata', monospace;
        font-size: 13px;
    }
    .su_button:hover{
        background-color: rgb(118, 109, 104);
        cursor: pointer;
    }

}
/*모바일버전*/
/*@media all and (max-width: 767px) {*/
/*    footer {*/

/*        display: block;*/
/*    }*/
/*    .footerbox {*/
/*        overflow-x: auto;*/
/*        overflow-y: scroll;*/
/*    }*/
/*    .privacy {*/
/*        !*position: fixed;*!*/
/*        bottom: 0;*/
/*        font-size: 3.5vw;*/
/*        left: 0;*/
/*        margin-left: 7vw;*/
/*        margin-right: 7vw;*/
/*        margin-bottom: 2vw;*/
/*    }*/
/*    .information {*/
/*        display: block;*/
/*        width: 90vw;*/
/*        font-family: 'Inconsolata', monospace;*/
/*        font-size: 13px;*/
/*    }*/
/*    .membership {*/
/*        display: block;*/
/*        width: 90vw;*/
/*        margin-right: 3vw;*/
/*        margin-bottom: 100vw;*/
/*        font-family: 'Inconsolata', monospace;*/
/*        font-size: 12px;*/
/*    }*/
/*    .su_button {*/
/*        width: 23vw;*/
/*        height: 9vw;*/
/*        font-size: 4vw;*/
/*        border-radius: 1vw;*/

/*    }*/
/*    .country {*/
/*        width: 85vw;*/
/*        font-size: 3vw;*/
/*    }*/
/*    .box {*/
/*        width: 85vw;*/
/*        font-size: 3vw;*/
/*    }*/

/*}*/

@media screen and (max-width: 767px) {
    .footerbox{
        vertical-align: middle;
        margin-top: 2rem;
        display: block;
        margin-left: 0.5rem;
    }

    .membership{
        width: 97vw;
        margin: auto;
        /*font-family: 'Source Code Pro', monospace;*/
        font-family: 'Inconsolata', monospace;
        font-size: 14px;
        margin-bottom: 5rem;
        margin-left: 0.5rem;
    }
    .membership-p1{
        margin-bottom: 2.5rem;
        width: 96vw;
    }

    .email{
        margin-bottom: 1rem;
    }
    .country-div{
        margin-bottom: 2rem;
    }

    .privacy{
        position: fixed;
        bottom: 1rem;
    }
    .terms-and-conditions{
        margin-top: 2rem;
        margin-bottom: 2rem;
        width: 96vw;
    }

    .details{
        margin-bottom: 2rem;
    }
    .detail_text{
        margin-top: 3px;
        margin-bottom: 3px;
    }
    .information {
        /*display: block;*/
        width: 90vw;
        height: 50vw;
        font-size: 14px;
        margin-left: 0.5rem;
        margin-bottom: 5rem;
        /*font-family: 'Source Code Pro', monospace;*/
        font-family: 'Inconsolata', monospace;
        /*margin-bottom: 100vw;*/
    }
    /*.membership {*/
    /*    display: block;*/
    /*    width: 90vw;*/
    /*    margin-right: 3vw;*/
    /*    font-size: 14px;*/
    /*}*/
    .su_button {
        width: 4rem;
        height: 2rem;
        font-size: 13px;
        border-radius: 5px;
        /*font-family: 'Source Code Pro', monospace;*/
        font-family: 'Inconsolata', monospace;
        margin-bottom: 2rem;
    }
    /*}*/
    .radio-button{
        margin-left: 0;
    }
    #women > label{
        margin-bottom: 5px;
    }
    .country {
        width: 94vw;
        height: 5vw;
        font-size: 13px;

    }
    .box {
        width: 93vw;
        font-size: 13px;
        height: 5vw;
    }

}
