@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


body{
    width: 100%;
}

#category-name-and-number-of-products{
    /*width: 1450px;*/
    width: 80%;
    margin-top: 250px;
    display: flex;
    /*font-family: 'IBM Plex Sans', sans-serif;*/
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    font-weight: 400;
    margin-left: 25px;
    padding-right: 50px;
}

#category-name-and-number-of-products-h1{
    /*width: 1380px;*/
    /*max-width: 100%;*/
    width: 80%;
}

#category-name-and-number-of-products-h1 > h1{
    text-align: left;
    /*width: 58%;*/
    /*max-width: 100%;*/
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
}

#category-name-and-number-of-products-p{
    width: 30px;
    /*max-width: 100%;*/
}

#category-name-and-number-of-products-p > p{
    text-align: left;
    padding-top: 0px;
    font-size: 14px;
    padding-right: 80px;
}

#products{
    margin-right: 50px;
}

#products-div{
    display: flex;
    /*width: 1400px;*/
    margin-top: 100px;
    /*padding-right: 450px;*/
}

#products-big-photo{
    width: 700px;
    text-align: left;
    /*margin-left: 25px;*/
}

#products-big-photo > picture > img{
    /*max-width: 100%;*/
    width: 30vw;
    height: auto;
    margin-left: 25px;
}

/*----------------------------------------------------------*/


#products-div-2{
    /*width: 100%;*/
    /*width: 1600px;*/
    display: flex;
    margin-top: 60px;
    padding-right: 200px;
}

#products-small-photo{
    width: 400px;
    margin-left: 25px;
}

#products-small-photo > picture > img{
    /*width: 290px;*/
    max-width: 100%;
    height: auto;
    /*margin-left: 20px;*/
}


#products-name-and-price{
    /*margin-left: 20px;*/
    text-align: left;
}

#products-name-and-price > h3{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

#products-name-and-price > span{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
}


#products-name-and-price-small{
    /*margin-left: 20px;*/
}

#products-name-and-price-small > h3{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 17px;
}

#products-name-and-price-small > span{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 30px;
}
